@media screen and (max-width: 768px) {
    main {
        position: relative;
        min-height: 80vh;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: absolute;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .nav-links {
        list-style: none;
        display: none;
    }

    .navbarlink {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        position: fixed;
        background: rgb(46, 94, 110, 1);
        width: 200px;
        height: 110vh;
        padding: 15px;
        transition: 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
    }

    .navbarlink ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        gap: 50px;
    }

    .navbarlink.active {
        display: block;
        animation: slideDown 0.4s ease-in-out;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateX(-10px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .menubtn {
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    .menu {
        display: block;
    }

    .menu button {
        font-size: 1.5em;
        background: none;
        color: white;
        border: none;
    }

    section {
        margin-bottom: 50px;
    }

    .home_section {
        position: relative;
        height: 100vh;
        background: fixed no-repeat center/cover;
        animation: changebg 20s ease-in-out infinite;
    }

    .home_section::before {
        content: "";
        position: absolute;
        background: #0404048b;
        width: 100%;
        height: 100vh;
    }

    .home_section .homecontent {
        width: 80%;
        color: white;
        position: absolute;
        text-align: center;
    }

    .homecontent .icons {
        margin: 0 0 35px;
    }

    .homecontent a {
        margin: 150px 0;
        color: white;
        transition: 0.5s all;
    }

    /* service section */
    .Services_section {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        position: relative;
    }

    .Services_section .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .container .card {
        display: flex;
        justify-content: center;
        margin: 50px 0;
        position: relative;
        border-radius: 15px;
        width: 80%;
        height: auto;
    }

    /* skill section */
    .skill-section {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        /* background-color: blue; */
    }

    .skill-section .skillhead {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        width: 100%;
        text-align: center;
        margin: 30px 0;
        font-size: 2em;
        /* background-color: blanchedalmond; */
    }

    .skillhead h2 {
        color: black;
        margin: 0;
    }

    .skill_container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* width: 1000px; */
        height: auto;
        /* background-color: aqua; */
    }

    .html {
        display: flex;
        justify-content: center;
        min-width: 100%;
        height: auto;
    }

    .aboutme {
        min-width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        /* background-color: blue; */
    }

    .aboutcontainer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

    }

    .aboutcontent {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutcontent .para {
        width: 100%;
    }

    .para p {
        font-size: 1em;
        text-align: justify;
        padding: 20px;
        line-height: 30px;
        margin: 0;
    }

    .profileimg img {
        border-radius: 0;
        width: 250px;
        height: 350px;
    }

    .contact_section {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
    }

    .contact_section .contactcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 60vh;
    }

    .contact_content .info {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start;
        align-content: space-around; */
    }

    .contactcontainer .contact_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 100%;
        min-height: 300px;
        /* background-color: aqua; */
    }

    .contact_content p {
        padding: 20px;
        text-align: center;
    }

    .contact_content .info {
        margin: 0 0 0 30px;
    }

    .contactform {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 500px;
        /* background-color: aquamarine; */
        height: auto;

    }

    .contactform .form {
        min-width: 400px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }

    .form input {
        padding: 10px;
        max-width: 100%;
        height: 50px;
        margin: 20px 0 0 0;
    }

    .form input::placeholder {
        font-size: 1.2em;
    }

    .form textarea::placeholder {
        font-size: 1.3em;
    }

    .form textarea {
        height: 100px;
    }
}